<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="./assets/fonts/SFProDisplay-Black.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Bold.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Light.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Medium.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Regular.ttf" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1:regular"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./block4style.css" />
    <title>Заголовок</title>
  </head>
  <body>
    <div class="maincontainer">
      <div class="ourproject">
        <h2 class="ourproject-heading">Our Projects</h2>
        <div class="ourproject_block1">
          <div class="ourproject_block1-unit1">
            <p class="ourproject_block1-heading">Sample Project</p>
            <button class="ourproject_btn btn__btnwhite">
              view more &#10230;
            </button>
          </div>
          <img src="./assets/images/1/ourproject2.png" alt="" />
        </div>
        <div class="ourproject_block2">
          <img src="./assets/images/1/ourproject3.png" alt="" />
          <img src="./assets/images/1/ourproject4.png" alt="" />
          <img src="./assets/images/1/ourproject5.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
