<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="./assets/fonts/SFProDisplay-Black.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Bold.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Light.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Medium.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Regular.ttf" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1:regular"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <button class="btnblack">ALL PROJECTS &#10230;</button>
    </div>
    <div>
      <button class="btnblack">SEND EMAIL &#10230;</button>
    </div>
    <div>
      <button class="btnblack">CONTACT US</button>
    </div>
    <div class="btn">
      <button class="btn_btnwhite">view project &#10230;</button>
    </div>
    <div class="btn">
      <button class="btn_btnwhite">read more &#10230;</button>
    </div>
    <div class="btn">
      <button class="btn_btnwhite">view more &#10230;</button>
    </div>
  </body>
</html>

