<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./normalize.css" />
    <link rel="stylesheet" href="./assets/fonts/SFProDisplay-Black.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Bold.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Light.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Medium.ttf" />
    <link rel="stylesheet" href="./assets/fonts/TTHoves-Regular.ttf" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1:regular"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Чёрные кнопки -->

    <div class="btn">
      <button class="btn_btnblack">ALL PROJECTS &#10230;</button>
    </div>
    <div class="btn">
      <button class="btn_btnblack">SEND EMAIL &#10230;</button>
    </div>
    <div class="btn">
      <button class="btn_btnblack">CONTACT US</button>
    </div>

    <!-- Белые кнопки -->
    <div class="btn">
      <button class="btn_btnwhite">view project &#10230;</button>
    </div>
    <div class="btn">
      <button class="btn_btnwhite">read more &#10230;</button>
    </div>
    <div class="btn">
      <button class="btn_btnwhite">view more &#10230;</button>
    </div>

    <!--  кнопки стрелки 1 страница --->

    <div class="btn_arrow">
      <div>
        <button class="btn_arrow-left">&#10229;</button>
      </div>
      <div>
        <button class="btn_arrow-right">&#10230;</button>
      </div>
    </div>
    <div class="pages-flick">
      <button class="pages-flick_btn">
        <p>
          0 <br />
          1
        </p>
      </button>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="34"
          height="33"
          viewBox="0 0 34 33"
          fill="none"
        >
          <line
            y1="-1"
            x2="43.8219"
            y2="-1"
            transform="matrix(-0.706805 0.707408 -0.706805 -0.707408 31.9285 0)"
            stroke="#E0E0E0"
            stroke-width="2"
          ></line>
        </svg>
      </span>
      <button class="pages-flick_btn">02</button>
    </div>

    <!--кнoпки стрелки 2 и 3 страница-->

    <div class="pages-flick">
      <button class="pages-flick_btn btn_01dark">
        <p>
          0 <br />
          1
        </p>
      </button>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="34"
          height="33"
          viewBox="0 0 34 33"
          fill="none"
        >
          <line
            y1="-1"
            x2="43.8219"
            y2="-1"
            transform="matrix(-0.706805 0.707408 -0.706805 -0.707408 31.9285 0)"
            stroke="#E0E0E0"
            stroke-width="2"
          ></line>
        </svg>
      </span>
      <button class="pages-flick_btn">05</button>
    </div>
    <div>
      <button class="btn_arrow-left">&#10229;</button>
    </div>
    <div>
      <button class="btn_arrow-right">&#10230;</button>
    </div>

    <!--форма на первой странице-->

    <div class="formcontainer">
      <form action="#">
        <input class="form_input-box" type="text" placeholder="Name" />
        <input class="form_input-box" type="text" placeholder="Phone number*" />
        <input class="form_input-box" type="text" placeholder="E-mail*" />
        <input class="form_input-box" type="text" placeholder="Interested in" />
        <textarea class="form_message-box" placeholder="Message*"></textarea>
      </form>
    </div>
  </body>
</html>
