.btnblack {
    display: inline-block;
    width: 222px;
    height: 71px;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 12px;
    line-height: 85%; 
    letter-spacing: 0.2em;
    color: #FFFFFF;
    background-color: #333333;
    border: none;
}
