.btn_btnblack {
  display: inline-block;
  width: 222px;
  height: 71px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 12px;
  line-height: 85%;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #333333;
  border: none;
}
.btn_btnwhite {
  display: inline-block;
  width: 222px;
  height: 71px;
  color: #333333;
  background-color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 12px;
  line-height: 85%;
  letter-spacing: 0.2em;
}
.btn_arrow-left,
.btn_arrow-right {
  width: 53px;
  height: 53px;
  color: #333333;
  background-color: #f2f2f2;
  border: none;
}

.pages-flick_btn {
  width: 24px;
  height: 48px;
  color: #bdbdbd;
  background-color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 24px;
  line-height: 85%;
}
.btn_01dark {
  color: #333;
}

.formcontainer {
  width: 420px;
}

.form_input-box, .form_message-box {
width: 391px;
margin: 5px;
font-family: "Roboto";
font-size: 14px;
line-height: 16px;
line-height: 85%;
color: #8D8D8D;
background-color: #F3F3F3;
border: none;
box-shadow: none;

}
.form_input-box {
  height: 45px;
}

.form_message-box {
  height: 147px;
  resize: none; 
}