.header {
  display: flex;
  justify-content: space-between;
  width: 73.125em;
  margin-top: 1.25em;
}

.header__logo {
  width: 2.81em;
  margin-left: 4.38em;
}

.header__menu {
  color: #333333f5;
  text-decoration: none;
  font-size: 0.5em;
  padding: 1.56em;
  font-family: "Roboto", sans-serif;
}

.menu-active {
  border-bottom: 0.06em solid black;
  border-top: 0.06em solid black;
  padding-bottom: 0.06em;
  padding-top: 0.06em;
}

.maincontainer,
.project1-main {
  display: flex;
}

.maincontainer {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 73.125em;
}

.project1-heading__header1 {
  margin-top: 1.5em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 4em;
  line-height: 0.05em;
  color: #bdbdbd;
}

.project1-heading__header2 {
  margin-top: 1.2em;
  margin-bottom: 1.5em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 4em;
  line-height: 0.1em;
  color: #333333;
}

.project1 {
  flex-direction: column;
  background-color: #fbfbfb;
}

.project1__unit {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(19, 4vw);
  grid-gap: 1.88em;
}

.project1__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.56em;
  color: #000;
}

.project1__img {
  display: block;
  height: auto;
  object-fit: cover;
}

.project1__item-1 {
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 7;
  background: url(./assets/images/4/1.png) no-repeat;
  background-size: cover;
}

.project1__item-2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 14;
  margin-top: 5.63em    ;
  background: url(./assets/images/4/2.png) no-repeat;
  background-size: cover;
}

.project1__item-3 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 10;
  margin-top: 5em;
  margin-right: 3.13em;
}

.project1__item-4 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 14;
  grid-row-end: 19;
  margin-top: 1.25em;
}

.footer {
  display: grid;
  grid-template-columns: 15.62em 9.38em 23.75em 16.88em;
  grid-template-rows: 15.62em 3.13em;
  background-color: rgba(0, 0, 0, 0.832);
  height: 18.75em;
  justify-items: center;
  margin-top: 5em;
}

.footer__logo {
  width: 5.63em;
  padding-top: 2.38em;
}

.footer__menu {
  padding-top: 2em;
  color: #ffffffe4;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
}

.footer__menu-breadcrumbs {
  color: #ffffffdb;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  line-height: 3em;
}

.breadcrumbs-email {
  font-size: 1em;
}

.footer__menu-breadcrumbs:hover {
  text-decoration: underline;
}

.footer__menu-meta {
  color: #ffffffdb;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  margin-top: 1.5em;
  line-height: 1.8em;
}

.telefon-sms {
  margin-top: 3.5em;
  line-height: 4.5em;
}

.icon {
  width: 0.63em;
  margin-right: 0.5em;
}

.icon-half-size {
  width: 0.44em;
}

.footer__menu-socials {
  display: flex;
  gap: 1.56em;
}

.facebook {
  width: 0.38em;
}

.twitter {
  width: 0.81em;
}

.linked {
  width: 0.69em;
}

.pinterest {
  width: 0.5em;
}

.row {
  font-family: "Open Sans", sans-serif;
  color: rgba(200, 200, 200, 0.288);
  font-size: 0.55em;
  grid-column: 1/5;
  margin-left: 7.5em;
  border-top: 0.03em solid rgba(200, 200, 200, 0.096);
  width: 200em;
  text-align: center;
}

.row__copy {
  margin-top: 2em;
}