.header {
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.header__logo {
  width: 45px;
}

.header__menu {
  color: #333333f5;
  text-decoration: none;
  font-size: 0.5em;
  padding: 25px;
  font-family: "Roboto", sans-serif;
}

.menu-active {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-bottom: 1px;
  padding-top: 1px;
}

.maincontainer,
.project1-main {
  display: flex;
}

.maincontainer {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 73.125em;
}

h2 {
  margin-left: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
}

h3 {
  margin-left: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #333333;
}

.project1 {
  flex-direction: column;
  background-color: #fbfbfb;
}

.project1__unit {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(19, 4vw);
  grid-gap: 30px;
}

.project1__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: #000;
}

.project1__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.project1__item-1 {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.project1__item-2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 14;
  margin-top: 120px;
}

.project1__item-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 10;
  margin-top: 100px;
}

.project1__item-4 {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 15;
  grid-row-end: 19;
  margin-top: 50px;
}

.footer {
  margin: auto;
  width: 73.125em;
  display: grid;
  grid-template-columns: 250px 150px 380px 270px;
  grid-template-rows: 250px 50px;
  background-color: rgba(0, 0, 0, 0.832);
  height: 300px;
  justify-items: center;
  margin-top: 80px;
}

.footer__logo {
  width: 90px;
  padding-top: 38px;
}

.footer__menu {
  padding-top: 25px;
  color: #ffffffe4;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
}

.footer__menu-breadcrumbs {
  color: #ffffffdb;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  line-height: 30px;
}

.breadcrumbs-email {
  font-size: 1em;
}

.footer__menu-breadcrumbs:hover {
  text-decoration: underline;
}

.footer__menu-meta {
  color: #ffffffdb;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  margin-top: 20px;
  line-height: 15px;
}

.telefon-sms {
  margin-top: 35px;
  line-height: 40px;
}

.icon {
  width: 10px;
  margin-right: 8px;
}

.icon-half-size {
  width: 7px;
}

.footer__menu-socials {
  display: flex;
  gap: 25px;
}

.facebook {
  width: 6px;
}

.twitter {
  width: 13px;
}

.linked {
  width: 11px;
}

.pinterest {
  width: 8px;
}

.row {
  font-family: "Open Sans", sans-serif;
  color: rgba(200, 200, 200, 0.288);
  font-size: 0.5em;
  grid-column: 1/5;
  margin-left: 120px;
  border-top: 0.5px solid rgba(200, 200, 200, 0.096);
  width: 1256px;
  text-align: center;
}

.row__copy {
  margin-top: 21px;
}
