.header {
  display: flex;
  justify-content: space-around;
  margin-top: 1.25em;
}

.header__logo {
  width: 2.81em;
}

.header__menu {
  color: #333333f5;
  text-decoration: none;
  font-size: 0.5em;
  padding: 1.56em;
  font-family: "Roboto", sans-serif;
}

.menu-active {
  border-bottom: 0.06em solid black;
  border-top: 0.06em solid black;
  padding-bottom: 0.06em;
  padding-top: 0.06em;
}

.maincontainer,
.heading,
.project1,
.project2,
.project3,
.buttons {
  display: flex;
}

.maincontainer {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 73.125em;
}

.project2 {
  flex-direction: column;
  background-color: #fbfbfb;
}

.project2__unit {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 4vw);
  grid-gap: 1.88em;
}

.project1__header1 {
  margin-top: 1.5em;
  margin-left: 0.6em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 4em;
  line-height: 0.006em;;
  color: #bdbdbd;
}

.project1__header2 {
  margin-left: 0.6em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 4em;
  line-height: 0.006em;
  color: #333333;
}

.project2__item-header3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 2em;
  color: #bdbdbd;
}

.project2__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.56em;
  color: #000;
}

.project2__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project2__item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  margin-left: 1.5em;
}

.project2__item-2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.project2__item-3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: 3em;
}

.project2__item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 4em;
}

.btn_btnwhite {
  display: inline-block;
  width: 13.86em;
  height: 4.8em;
  color: #333333;
  background-color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 0.75em;
  line-height: 85%;
  letter-spacing: 0.2em;
}

.project3 {
  flex-direction: column;
  background-color: #fbfbfb;
}

.project3__unit {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 4vw);
  grid-gap: 1.88em;
}

.project3__item-header3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.8em;
  color: #bdbdbd;
}

.project3__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.56em;
  color: #000;
}

.project3__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project3__item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  margin-left: 1.5em;
}

.project3__item-2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.project3__item-3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: 2em;
}

.project3__item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 4em;
}

.project4 {
  flex-direction: column;
  background-color: #fbfbfb;
}

.project4__unit {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 4vw);
  grid-gap: 1.88em;
}

.project4__item-header3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.8em;
  color: #bdbdbd;
}

.project4__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.56em;
  color: #000;
}

.project4__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project4__item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  margin-left: 1.5em;
}

.project4__item-2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.project4__item-3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: 2em;
}

.project4__item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 4em;
}

.pages-flick {
  display: flex;
  gap: 2.19em;
  margin-top: 3.13em;
  margin-left: 2.5em;
}

.pages-flick_btn {
  width: 1.5em;
  height: 1.5em;
  color: #bdbdbd;
  background-color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  line-height: 85%;
}

.btn_01dark {
  color: #333;
  margin-right: 1.25em;
}

.pages-flick__btn-arrow {
  display: flex;
  gap: 0.94em;
}

.btn_arrow-left,
.btn_arrow-right {
  width: 3.31em;
  height: 3.31em;
  color: #333333;
  background-color: #f2f2f2;
  border: none;
}

.footer {
  display: grid;
  grid-template-columns: 15.62em 9.38em 23.75em 16.88em;
  grid-template-rows: 15.62em 3.13em;
  background-color: rgba(0, 0, 0, 0.832);
  height: 18.75em;
  justify-items: center;
  margin-top: 5em;
}

.footer__logo {
  width: 5.63em;
  padding-top: 2.38em;
}

.footer__menu {
  padding-top: 2em;
  color: #ffffffe4;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
}

.footer__menu-breadcrumbs {
  color: #ffffffdb;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  line-height: 3em;
}

.breadcrumbs-email {
  font-size: 1em;
}

.footer__menu-breadcrumbs:hover {
  text-decoration: underline;
}

.footer__menu-meta {
  color: #ffffffdb;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  margin-top: 1.5em;
  line-height: 1.8em;
}

.telefon-sms {
  margin-top: 3.5em;
  line-height: 4.5em;
}

.icon {
  width: 0.63em;
  margin-right: 0.5em;
}

.icon-half-size {
  width: 0.44em;
}

.footer__menu-socials {
  display: flex;
  gap: 1.56em;
}

.facebook {
  width: 0.38em;
}

.twitter {
  width: 0.81em;
}

.linked {
  width: 0.69em;
}

.pinterest {
  width: 0.5em;
}

.row {
  font-family: "Open Sans", sans-serif;
  color: rgba(200, 200, 200, 0.288);
  font-size: 0.55em;
  grid-column: 1/5;
  margin-left: 7.5em;
  border-top: 0.03em solid rgba(200, 200, 200, 0.096);
  width: 200em;
  text-align: center;
}

.row__copy {
  margin-top: 2em;
}
