.header {
  display: flex;
  justify-content: space-around;
  margin-top: 1.25em;
}

.header__logo {
  width: 2.81em;
}

.header__menu {
  color: #333333f5;
  text-decoration: none;
  font-size: 0.5em;
  padding: 1.56em;
  font-family: "Roboto", sans-serif;
}

.menu-active {
  border-bottom: 0.06em solid black;
  border-top: 0.06em solid black;
  padding-bottom: 0.06em;
  padding-top: 0.06em;
}

.maincontainer,
.heading,
.project1,
.project2,
.project3,
.buttons {
  display: flex;
}

.maincontainer {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 73.125em;
}

.project2 {
  flex-direction: column;
  background-color: #fbfbfb;
}

.project2__unit {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 4vw);
  grid-gap: 1.88em;
}

.project1__header1 {
  margin-top: 1.5em;
  margin-left: 0.6em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 4em;
  line-height: 0.006em;;
  color: #bdbdbd;
}

.project1__header2 {
  margin-left: 0.6em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 4em;
  line-height: 0.006em;
  color: #333333;
}

.project2__item-header3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 2em;
  color: #bdbdbd;
}

.project2__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.56em;
  color: #000;
}

.project2__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project2__item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  margin-left: 1.5em;
}

.project2__item-2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.project2__item-3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: 3em;
}

.project2__item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 4em;
}

.btn_btnwhite {
  display: inline-block;
  width: 13.86em;
  height: 4.8em;
  color: #333333;
  background-color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 0.75em;
  line-height: 85%;
  letter-spacing: 0.2em;
}
.project1{
  text-decoration: none;
  color: #333333;
  margin-left: 20px;
}

.project3 {
  flex-direction: column;
  background-color: #fbfbfb;
}

.project3__unit {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 4vw);
  grid-gap: 1.88em;
}

.project3__item-header3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.8em;
  color: #bdbdbd;
}

.project3__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.56em;
  color: #000;
}

.project3__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project3__item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  margin-left: 1.5em;
}

.project3__item-2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.project3__item-3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: 2em;
}

.project3__item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 4em;
}

.project4 {
  flex-direction: column;
  background-color: #fbfbfb;
}

.project4__unit {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 4vw);
  grid-gap: 1.88em;
}

.project4__item-header3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.8em;
  color: #bdbdbd;
}

.project4__item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.56em;
  color: #000;
}

.project4__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project4__item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  margin-left: 1.5em;
}

.project4__item-2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.project4__item-3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: 2em;
}

.project4__item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 4em;
}

.pages-flick {
  display: flex;
  gap: 2.19em;
  margin-top: 1.5em;
  margin-left: 2.5em;
}

.pages-flick_btn {
  width: 1.5em;
  height: 1.5em;
  color: #bdbdbd;
  background-color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  line-height: 85%;
}

.btn_01dark {
  color: #333;
  margin-right: 1.25em;
}

.pages-flick__btn-arrow {
  display: flex;
  gap: 0.94em;
}

.btn_arrow-left,
.btn_arrow-right {
  width: 3.31em;
  height: 3.31em;
  color: #333333;
  background-color: #f2f2f2;
  border: none;
}

.footer {
  display: grid;
  grid-template-columns: 20% 12% 30% 17%;
  grid-template-rows: 250px 50px;
  background-color: rgba(0, 0, 0, 0.832);
  height: 300px;
  justify-items: center;
  margin-top: 380px;
}

.footer__logo {
  width: 90px;
  padding-top: 38px;
}

.footer__menu {
  padding-top: 25px;
  color: #ffffffe4;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
}

.footer__menu-breadcrumbs {
  color: #ffffffdb;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  line-height: 30px;
}

.breadcrumbs-email {
  font-size: 1em;
}

.footer__menu-breadcrumbs:hover {
  text-decoration: underline;
}

.footer__menu-meta {
  color: #ffffffdb;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  margin-top: 20px;
  line-height: 15px;
}

.address{
  text-decoration: none;
  color: #ffffffdb;
}

.address:hover{
  text-decoration: underline;
}

.telefon-sms {
  margin-top: 35px;
  line-height: 40px;
}

.icon {
  width: 10px;
  margin-right: 8px;
}

.icon-half-size {
  width: 7px;
}

.footer__menu-socials {
  display: flex;
  gap: 25px;
}

.facebook {
  width: 6px;
}

.twitter {
  width: 13px;
}

.linked {
  width: 11px;
}

.pinterest {
  width: 8px;
}

.row {
  font-family: "Open Sans", sans-serif;
  color: rgba(200, 200, 200, 0.288);
  font-size: 0.5em;
  grid-column: 1/5;
  margin-left: 120px;
  border-top: 0.5px solid rgba(200, 200, 200, 0.096);
  width: 139%;
  text-align: center;
}

.row__copy {
  margin-top: 21px;
}

/*Адаптивная верстка для мобильных устройств*/

@media screen and (max-width: 750px) {
 
  .maincontainer {
    width: 43.75em;
  }
  
  .project1__header1,
  .project1__header2,
  .project2__item-header3,
  .project3__item-header3,
  .project4__item-header3  {
    font-size: 2em;
  }

  .project2__item-1,
  .project3__item-1,
  .project4__item-1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-left: 1.5em;
  }
  
  .project2__item-2,
  .project3__item-2,
  .project4__item-2  {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  
  .project2__item-3,
  .project3__item-3,
  .project4__item-3 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 8;
  }
  
  .project2__item-4,
  .project3__item-4,
  .project4__item-4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 89px;
  }

  .pages-flick {
    margin-left: 4em;
  }
  .header {
    width: 30em;
  }

  .header__logo {
    display: none;
  }

  .header__menu {
    font-size: 0.48em;
  }

}

/*Адаптивная верстка для мобильных устройств*/
