.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.header__logo {
  width: 45px;
}

.header__menu {
  flex-wrap: wrap;
  color: #333333f5;
  text-decoration: none;
  font-size: 0.5em;
  padding: 25px;
  font-family: "Roboto", sans-serif;
}

.menu-active {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-bottom: 1px;
  padding-top: 1px;
}

@media screen and (max-width: 750px) {
  .header {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5px;
  }

  .header__logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .header__menu {
    display: block;
    font-size: 0.8em;
    padding: 5px;
  }

  .menu-active {
    border: none;
    padding: 5px;
  }
}

.flexcontainer {
  display: flex;
}

.gridcontainer {
  display: grid;
}

h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2.5em;
  color: #bdbdbd;
  line-height: 0.1px;
  margin-left: 155px;
  margin-top: 100px;
}

.projectlorum-descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 3em;
  line-height: 0.1px;
  color: #333333;
  margin-left: 155px;
}

.contant {
  font-family: "Roboto";
  font-style: normal;
  line-height: 0.1px;
  margin-left: 159px;
}

.contant__address {
  font-size: 0.7em;
  color: #333333b6;
}

.number {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 20px;
}

.email {
  color: #333333b6;
  text-decoration: none;
  font-size: 0.7em;
  margin-top: 40px;
}

.email:hover {
  text-decoration: underline;
}

.btn {
  width: 150px;
  height: 50px;
  font-family: "Roboto";
  font-size: 0.5em;
  letter-spacing: 0.2em;
  color: #ffffffca;
  background-color: #333333;
  border: none;
  margin-left: 159px;
  margin-top: 15px;
}

.flexcontainer__img {
  width: 600px;
  height: 400px;
  margin-top: 50px;
  margin-left: 207px;
}

@media screen and (max-width: 750px) {
  .flexcontainer {
    width: 90%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }

  .flexcontainer__img {
    display: none;
  }

  .gridcontainer {
    align-content: start;
    margin: 20px;
  }

  .contant {
    margin: 10px;
  }

  h4,
  .projectlorum-descr {
    font-size: 1.2em;
    margin: 10px;
    margin-top: 20px;
  }

  .btn {
    margin: 10px;
  }
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 150px 380px 270px;
  grid-template-rows: 250px 50px;
  background-color: rgba(0, 0, 0, 0.832);
  height: 300px;
  justify-items: center;
  margin-top: 80px;
}

.footer__logo {
  width: 90px;
  padding-top: 38px;
}

.footer__menu {
  padding-top: 25px;
  color: #ffffffe4;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
}

.footer__menu-breadcrumbs {
  color: #ffffffdb;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  line-height: 30px;
}

.breadcrumbs-email {
  font-size: 1em;
}

.footer__menu-breadcrumbs:hover {
  text-decoration: underline;
}

.footer__menu-meta {
  color: #ffffffdb;
  font-family: "Roboto", sans-serif;
  font-size: 0.6em;
  margin-top: 20px;
  line-height: 15px;
}

.telefon-sms {
  margin-top: 35px;
  line-height: 40px;
}

.icon {
  width: 10px;
  margin-right: 8px;
}

.icon-half-size {
  width: 7px;
}

.footer__menu-socials {
  display: flex;
  gap: 25px;
}

.facebook {
  width: 6px;
}

.twitter {
  width: 13px;
}

.linked {
  width: 11px;
}

.pinterest {
  width: 8px;
}

.row {
  font-family: "Open Sans", sans-serif;
  color: rgba(200, 200, 200, 0.288);
  font-size: 0.5em;
  grid-column: 1/5;
  margin-left: 120px;
  border-top: 0.5px solid rgba(200, 200, 200, 0.096);
  width: 1256px;
  text-align: center;
}

.row__copy {
  margin-top: 21px;
}

@media screen and (max-width: 750px) {
  .footer {
    width: 90%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1% 4fr 1fr;
    margin-top: 20px;
  }

  .footer__contacts {
    justify-self: start;
  }

  .footer__menu-socials {
    margin-top: 30px;
  }

  .footer__menu-meta {
    line-height: 20px;
    margin: 10px;
  }

  .footer__logo,
  .footer__menu-breadcrumbs,
  h3.footer__menu,
  .row {
    display: none;
  }
}
